<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Problematicas barriales</h3>
  </div>
    <ul class="list-group">
	  <li class="list-group-item"><a href="#usuario/problematica/926" style="display:block;" title="Ver problematica Cras justo odio">Cras justo odio</a></li>
	  <li class="list-group-item"><a href="#usuario/problematica/1034" style="display:block;" title="Ver problematica Dapibus ac facilisis in">Dapibus ac facilisis in</li>
	  <li class="list-group-item"><a href="#usuario/problematica/951" style="display:block;" title="Ver problematica Morbi leo risus">Morbi leo risus</li>
	  <li class="list-group-item"><a href="#usuario/problematica/1145" style="display:block;" title="Ver problematica Porta ac consectetur ac">Porta ac consectetur ac</li>
	  <li class="list-group-item"><a href="#usuario/problematica/920" style="display:block;" title="Ver problematica Vestibulum at eros">Vestibulum at eros</li>
	</ul>
</div>